<!-- templates/pms/prescription_update.html -->
{% extends 'pms/base.html' %}

{% block title %}Update Prescription{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card mx-auto" style="max-width: 500px;">
            <div class="card-body text-center">
                <h1 class="mb-4">Update Prescription</h1>

                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_appointmentId">Appointment ID:</label>
                        {{ form.appointmentId }}
                        <div class="invalid-feedback">
                            {{ form.appointmentId.errors }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_description">Description:</label>
                        {{ form.description }}
                        <div class="invalid-feedback">
                            {{ form.description.errors }}
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-2">Update</button>
                        <a href="{% url 'prescription_list' %}" class="btn btn-secondary ml-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}